<p id="notice"><%= notice %></p>

<p>
  <b>Entry:</b> <%= @word.entry %>
</p>
<p>
  <b>Synonims:</b>
  <% @meanings.each do |mean| %>
    <li>
    <% mean.synonims.each do |t| %>
      <%= t.entry %>,
    <% end %>
    </li>
  <% end %>
</p>
