@import 'sass-bootstrap/lib/bootstrap';
@import '../styles/custom_variables.scss';

.content_area {
  background: $gray;
  padding: 10px;
  border-radius: 5px;

  .palabra {
      display: inline-block;
      background: lightyellow;
      border-radius: 2px;
      padding: 2px;
  }
}


.significance {
    padding: 0 0 4px 0;
    border-bottom: 2px dashed black;
}
