@import 'sass-bootstrap/lib/bootstrap';

.grey {
    background: #999;
    padding: 5px;
}

.palabra {
    display: inline-block;
    background: lightyellow;
    border-radius: 2px;
    padding: 2px;
}

.significance {
    padding: 0 0 4px 0;
    border-bottom: 2px dashed black;
}
